#window-close {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close2.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-max-width: 25;
    -fx-max-height: 25;
}
#window-min {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min2.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-max-width: 25;
    -fx-max-height: 25;
}
#window-max {
    -fx-font-size: 1.0px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand2.png");
    -fx-padding: 6.0 6.0 4.0 6.0;
    -fx-min-width: 25;
    -fx-min-height: 25;
    -fx-max-width: 25;
    -fx-max-height: 25;
}
#window-close:hover {
    -fx-background-image: url("images/window-close-over2.png");
}
#window-min:hover {
    -fx-background-image: url("images/window-min-over2.png");
}
#window-max:hover {
    -fx-background-image: url("images/window-expand-over2.png");
}
#window-close:focused, #window-min:focused , #window-max:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5.0, 0.7 , 0.0 , 0.0 );
}

.root{
    -fx-font-size: 14.0px;
}

/* 应用标题行 */
.topBar{
	-fx-background-color: #3955a3;
    -fx-min-height: 35;
    -fx-max-height: 35;
}

.tabPane{
 -fx-border-radius:20.0;
}

.tab {
	-fx-background-color: #3955a3;
	-fx-text-fill: #333333;
	-fx-font-family: "Microsoft YaHei";
	-fx-font-weight: bold;
}
.tab:selected{
-fx-background-color: #4d6ab8
}

.tab-header-background {
    -fx-background-color: #3955a3;
}

.tab-content-area {
-fx-background-color: #E1E6F6
}





