.root{
	-fx-background-color: white;
}
.moduleButton{
	-fx-background-color: transparent;
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0;
    -fx-border-radius: 0.0;
    -fx-text-fill: #242d35;
    -fx-font-size: 14.0px;
    -fx-content-display: top;
    
}
.moduleButton:hover {
    -fx-background-color: #d7e0f7;
    -fx-background-insets: 0.0,1.0,2.0;
    -fx-background-radius: 5.0;
    -fx-border-radius: 0.0;
    -fx-text-fill: black;
    -fx-font-size: 14.0px;
}




